<div class="card">
    <div class="card-header">
        Peer
    </div>
    <div class="card-block">
        <div class="card-media-block">
            <clr-icon shape="devices" size="72"></clr-icon>
            <div class="card-media-description">
                <span class="card-media-title">
                    {{client.name}}
                </span>
                <span class="card-media-text">
                    Status: {{status}}
                </span>
            </div>
        </div>
        <div class="card-text text-center" [ngSwitch]="client.state">
            <clr-datagrid *ngSwitchCase="LinkState.Waiting"[(clrDgSelected)]="fs.selected[client.name]" [clDgRowSelection]="true">
                <clr-dg-column>File Name</clr-dg-column>
                <clr-dg-column>Size</clr-dg-column>
                <clr-dg-row *clrDgItems="let file of fs.files" [clrDgItem]="file">
                    <clr-dg-cell>{{file.name}}</clr-dg-cell>
                    <clr-dg-cell>{{file.size}}</clr-dg-cell>
                </clr-dg-row>
                <clr-dg-placeholder>
                File desk is empty...
                </clr-dg-placeholder>
            </clr-datagrid>
            <clr-datagrid *ngSwitchCase="LinkState.Pending">
                <clr-dg-column>File Name</clr-dg-column>
                <clr-dg-column>Size</clr-dg-column>
                <clr-dg-row *ngFor="let file of client.pendingRequest.files">
                    <clr-dg-cell>{{file.name}}</clr-dg-cell>
                    <clr-dg-cell>{{file.size}}</clr-dg-cell>
                </clr-dg-row>
                <clr-dg-placeholder>
                Some error occured...
                </clr-dg-placeholder>
                <clr-dg-footer>{{client.pendingRequest.length}} files</clr-dg-footer>
            </clr-datagrid>
            <clr-datagrid *ngSwitchCase="LinkState.Transfering">
                <clr-dg-column>File Name</clr-dg-column>
                <clr-dg-column>Size</clr-dg-column>
                <clr-dg-row *ngFor="let file of client.transferProgress">
                    <clr-dg-cell>{{file.name}}</clr-dg-cell>
                    <clr-dg-cell>{{file.max}}/{{file.value}}</clr-dg-cell>
                </clr-dg-row>
                <clr-dg-placeholder>
                Some error occured...
                </clr-dg-placeholder>
                <clr-dg-footer>{{client.transferProgress.length}} files</clr-dg-footer>
            </clr-datagrid>
        </div>
    </div>
    <div class="card-footer" *ngIf="!client.pendingRequest; else selectConfirm;">
        <button class="btn btn-sm btn-out">Transfer</button>
    </div>
    <ng-template #selectConfirm>
        <div class="card-footer">
            <button class="btn btn-sm btn-main" (click)="onConfirmTransfer()">Accept</button>
            <button class="btn btn-sm btn-out" (click)="onRejectTransfer()">Reject</button>
        </div>
    </ng-template>
</div>
