<div class="card">
    <div class="card-header">
        Peer
    </div>
    <div class="card-block">
        <div class="card-media-block">
            <clr-icon shape="devices" size="72"></clr-icon>
            <div class="card-media-description">
                <span class="card-media-title">
                    John Doe
                </span>
                <span class="card-media-text">
                    Status: Online
                </span>
            </div>
        </div>
        <div class="card-text text-center">
            <clr-datagrid [(clrDgSelected)]="selected" [clDgRowSelection]="true">
                <clr-dg-column>File Name</clr-dg-column>
                <clr-dg-column>Size</clr-dg-column>
                <clr-dg-row *clrDgItems="let file of files" [clrDgItem]="file">
                    <clr-dg-cell>{{file.name}}</clr-dg-cell>
                    <clr-dg-cell>{{file.size}}</clr-dg-cell>
                </clr-dg-row>
            </clr-datagrid>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-sm btn-out">Transfer</button>
    </div>
</div>
