<div class="card">
    <div class="card-header">
        Peer
    </div>
    <div class="card-block">
        <div class="card-media-block">
            <clr-icon shape="devices" size="72"></clr-icon>
            <div class="card-media-description">
                <span class="card-media-title">
                    {{client.name}}
                </span>
                <span class="card-media-text">
                    Status: {{status}}
                </span>
            </div>
        </div>
        <div class="card-text text-center" [ngSwitch]="client.state">
            <clr-datagrid *ngSwitchCase="LinkState.Waiting" [(clrDgSelected)]="fs.selected[client.name]" [clDgRowSelection]="true">
                <clr-dg-column>File Name</clr-dg-column>
                <clr-dg-column>Size</clr-dg-column>
                <clr-dg-row *clrDgItems="let file of fs.files" [clrDgItem]="file">
                    <clr-dg-cell>{{file.name}}</clr-dg-cell>
                    <clr-dg-cell>{{file.size}}</clr-dg-cell>
                </clr-dg-row>
                <clr-dg-placeholder>
                File desk is empty...
                </clr-dg-placeholder>
            </clr-datagrid>
            <clr-datagrid *ngSwitchCase="LinkState.Pending">
                <clr-dg-column>File Name</clr-dg-column>
                <clr-dg-column>Size</clr-dg-column>
                <clr-dg-row *ngFor="let file of client.pendingRequest.files">
                    <clr-dg-cell>{{file.name}}</clr-dg-cell>
                    <clr-dg-cell>{{file.size}}</clr-dg-cell>
                </clr-dg-row>
                <clr-dg-placeholder>
                Some error occured...
                </clr-dg-placeholder>
                <clr-dg-footer>{{client.pendingRequest.length}} files</clr-dg-footer>
            </clr-datagrid>
            <clr-datagrid *ngSwitchCase="LinkState.Transfering">
                <clr-dg-column>File Name</clr-dg-column>
                <clr-dg-column>Size</clr-dg-column>
                <clr-dg-column *ngIf="role === ClientRoles.Reciever">Download</clr-dg-column>
                <clr-dg-row *ngFor="let file of client.transferProgress">
                    <clr-dg-cell>{{file.name}}</clr-dg-cell>
                    <clr-dg-cell>
                        <progress [max]="file.max" [value]="file.value" data-displayval="0%"></progress>
                    </clr-dg-cell>
                    <clr-dg-cell *ngIf="role === ClientRoles.Reciever">
                        <a *ngIf="file.result" [href]="sanitize(file.result)" [download]="file.name">Link</a>
                    </clr-dg-cell>
                </clr-dg-row>
                <clr-dg-placeholder>
                Some error occured...
                </clr-dg-placeholder>
                <clr-dg-footer>{{client.transferProgress.length}} files</clr-dg-footer>
            </clr-datagrid>
        </div>
    </div>
    <div [ngSwitch]="client.state">
        <div class="card-footer" *ngSwitchCase="LinkState.Waiting">
            <button class="btn btn-sm btn-out">Transfer</button>
        </div>
        <div class="card-footer" *ngSwitchCase="LinkState.Pending">
            <button class="btn btn-sm btn-main" (click)="onConfirmTransfer()">Accept</button>
            <button class="btn btn-sm btn-out" (click)="onRejectTransfer()">Reject</button>
        </div>
        <div class="card-footer" *ngSwitchCase="LinkState.Transfering">
            <button class="btn btn-sm btn-main" (click)="resetState()">Reset</button>
        </div>
    </div>
</div>
