<div class="camp-container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <peer-host></peer-host>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <peer-usercard 
        *ngFor='let peer of hs.peers | pair:true' 
        (confirm)='replyOnRequest($event)' 
        [client]='peer'
        [transferFiles]='transferFiles'>
      </peer-usercard>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <peer-usercard 
        *ngFor='let peer of hs.peers | pair:false'
        (confirm)='replyOnRequest($event)' 
        [client]='peer'
        [transferFiles]='transferFiles'>
      </peer-usercard>
    </div>
    <div class="col-lg-12">
      <button class="btn btn-out mt-1" (click)="transferAllFiles()">Transfer to all</button>
      <button class="btn btn-out mt-1" (click)="resetAll()">Reset all</button>
    </div>
  </div>
</div>