<div>
  <h3>Firecamps</h3>
  <table class="table">
    <thead>
      <tr>
        <th class="left">Name</th>
        <th>Peers</th>
        <th>Created</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="left">Johny, I'm here!</td>
        <td>1</td>
        <td>3min ago</td>
        <td class="last">
          <button type="button" class="btn btn-icon btn-main">
            <clr-icon shape="connect"></clr-icon>
          </button>
        </td>
      </tr>
      <tr>
        <td class="left">MSWord</td>
        <td>2</td>
        <td>10min ago</td>
        <td class="last">
          <button type="button" class="btn btn-icon btn-main">
            <clr-icon shape="connect"></clr-icon>
          </button>
        </td>
      </tr>
      <tr>
        <td class="left">Paymants</td>
        <td>1</td>
        <td>Just now</td>
        <td class="last">
          <button type="button" class="btn btn-icon btn-main">
            <clr-icon shape="connect"></clr-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <button (click)="onClickNewCamp()" class="btn btn-icon btn-block btn-main">
    <clr-icon shape="plus"></clr-icon>
    New Firecamp
  </button>
</div>
<clr-modal [(clrModalOpen)]="show">
<h3 class="modal-title">Create new camp</h3>
<div class="modal-body">
  <div class="form-group">
    <label for="campName">Firecamp name</label>
    <input type="text" (input)="onChangeCampName($event)" [value]='name' id="campName" placeholder="Type...">
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-out" (click)="show = false">Cancel</button>
  <button type="button" class="btn btn-main" (click)="applyNewHub()">Ok</button>
</div>
</clr-modal>
